*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}
.container{
    height: 37rem;
    width: 25rem;
    /* margin: 3rem; */
    margin-top: 10px;
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
h1{
    font-size: 2.25rem;
}
.mode{
    gap: 5px;
    margin-left: 50px;
    font-size: 1.5rem;
    display: block;
    display: flex;
    align-items: center;
    height: 3.75rem;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:1.8rem;
    width:4.5rem;
    border: 2px solid grey;
    border-radius:20%;
    padding:1px;
}

.resltSpace{
    display: block;
    height: 12rem;
    width: 100%;
    /* border: 2px solid red; */
}
.keySpace{
    display: flex;
    height:20rem;
    width: 100%;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
}
.kr1,.kr2,.kr3,.kr4,.kr5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.90rem;
    width: 95%;
    /* border: 2px solid red; */
}
.keySpace button{
    font-size: 2.25rem;
    height: 3.7rem;
    width: 3.7rem;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
}